.container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 100px 400px 100px;

}
.header{
    grid-column: span 12;
    background-color: brown;
}
.sidebar{
    grid-column: span 2;
    background-color: coral;
}
.main{
    grid-column: span 10;
    background-color: crimson;
}
.footer{
    grid-column: span 12;
    background-color: rgb(40, 20, 220) 20, 220);
}
