*{
    padding: 0;
    margin: 0;
    box-sizing:border-box ;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
#main{

}
#header{
    height: 46px;
    background-color:black;
}
#nav li a{
    color: white;
    align-items: center;
    text-decoration: none;
    line-height: 46px;
    padding-left: 24px;
    padding-right: 24px;
    
}

#nav >li:hover >a{

    color: rgb(44, 40, 40);
    background-color:rgb(214, 210, 210) ;
    display: inline-block;
}


#nav li{
   
    display: inline-block;
    position: relative;
}
#nav .subnav{
   
  /* display:none; */
  position: absolute;
  background-color: white;

}

#nav .subnav{

#nav .subnav a{
    color: black;
}

#header-right span{
   
   
    
}
#slider{
    min-height: 500px;
    background-color: rgb(46, 44, 44);

}
#content{

}
#footer{

}